div{
	box-sizing: border-box;
}
.bd {
	width: 500px;
	height: 700px;
	margin: 0 auto;
	border: solid 3px lightgrey;
}
.bd div {
	margin: 0;
	padding: 0;
}

.h {
	background-color: grey;
	width: 100%;
	height: 7%;
}
.ipt_box {
	width: 100%;
	height: 13%;
}
.mid {
	width: 100%;
	height: 26%;
	border: 1px solid transparent;
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
}
.h_txt {
	height: 100%;
	width: 20%;
	float: left;
	font-size:1.3em;
	text-align: center;
	line-height: 32px;
	background-color: red;
	border: transparent solid 1px;
	border-bottom: solid lightgrey 2px;
}
.h_selected {
	background-color: white;
	border: transparent 1px solid;
	border-right: 2px solid lightgrey;
}
.ipt_box div{
	width: 92%;
	height: 30px;
	border: black solid 1px;
	margin: 10px auto;
}
.mid .top{
	width: 92%;
	height: 67%;
	margin: 10px auto;
}
.mid .pic {
	width: 118px;
	height: 118px;
	display: inline-block;
	background-color: red;
	float: left;
}
.mid .mid_ipt {
	width: 300px;
	height: 30px;
	float: right;
	border: black 1px solid;
	margin-top: 20px;
}

.mid .mid_buttom {
	width: 450px;
	height: 30px;
	margin: 0 23px;

}

.mid .mid_txt {
	width: 138px;
	height: 100%;
	background-color: red;
	float: left;
	margin-right: 10px;
	color: white;
	text-align: center;
	line-height: 30px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 5px #ab3c3c;
}
.bt_top {
	height: 70px;
	border: transparent 1px solid;
	border-bottom: 2px solid lightgrey;
}
.bt_top div {
	width: 92%;
	height: 30px;
	border: 1px solid black;
	margin: 20px auto;
}

.btm {
	height: 296px;
}
.b_pic {
	width: 20%;
	height: 99px;
	border: 1px transparent solid;
	border-right: 1px lightgrey solid;
	border-bottom: 1px lightgrey solid;
	float:left;
	text-align: center;
}
.norb {
	border: 1px transparent solid;
	border-right: 1px transparent solid;
	border-bottom: 1px lightgrey solid;
}
.btm .first {
	width: 40%;
	height: 197px;
}
.btm .b_txt,
.btm .b_atxt{
	width: 40%;
	height: 50%;
	margin: 20% auto;
	margin-bottom: 10px;
	background-color: red;
}
.btm .b_atxt{
	margin-bottom: 5px;
	background-color: red;
}


.fonttest:before {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	content: "\e007";
}
.mid_txt:hover {
	box-shadow: 0 3px #ab3c3c;
	margin-top: 2px;
}

.mid_txt:active {
	box-shadow: 0 0px #ab3c3c;
	margin-top: 2px;
	height: 33px;
	background-color: #ab3c3c;
}

