div{
	box-sizing: border-box;
	display:flex;
}
.firstbox{
	width:480px;
	height:100px;
	margin:0px auto;
	background:white;
	display:inline-flex;
	flex-direction:row;
	justify-content: space-between;
}
.firstbox-box{
	width: 80px;
	height: 80px;
	background: gray;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.secondbox{
	width: 120px;
	height: 20px;
	border:1px solid black;
}